@import "./reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/orange";

body {
    font: var(--font-m); //шрифт по умолч
    color: var(--primary-color);
}

.app {
    height: 100vh;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex: 1 1 auto;
    padding: 20px;
}
