.recommendationList {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.itemsWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
}
